python-dotenv==1.0.1
pydantic==2.10.6

boto3==1.37.14

fastapi==0.115.11
fastapi-cli==0.0.7
uvicorn==0.34.0

langchain==0.3.21
langchain-community==0.3.20 
langchain-elasticsearch==0.3.2 
langchain-huggingface==0.1.2
langchain-openai==0.3.9
elasticsearch==8.17.2

sentence-transformers==3.4.1

coloredlogs==15.0.1

python-multipart==0.0.20